@charset "UTF-8";

body {
    background: linear-gradient(90deg, #272727, #000000);
    color:#ffffff;
    font-family: 'Zen Antique', serif;
}

h2 {
    background: linear-gradient(90deg, #420505, #5e0d0d);
}

a {
    color: rgb(212, 134, 134);
}

.respomsive {
    width: 100%;
    aspect-ratio: 16/9;
}

.scroll_table {
    max-width: 100%;
    overflow-x: auto;
}

table {
    white-space: nowrap;
    margin: 10px 0;
}

.scroll_table::-webkit-scrollbar {
    height: 10px;
}

.scroll_table::-webkit-scrollbar-thumb {
    background: #5f5f5f;
}

.scroll_table::-webkit-scrollbar-track {
    background: #201f1f;
}
